<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.guseok.mapper.sangaSeqMapper">
	<select id="selectSeq" resultType="kr.co.guseok.vo.guseokseq.guseokSeqVO">
		select 
			SEQ_NAME, 
			SEQ_VAL 
		from 
			sanga_seq 
		where 
			SEQ_NAME = #{seq_name};
	</select>
	
	<update id="updateSeq">
		update 
			sanga_seq 
		set 
			seq_val = #{seq_val}
		where 
			seq_name = #{seq_name} 
	</update>
</mapper> 

